deep-translator==1.11.4
diffusers==0.27.0
huggingface-hub==0.21.4
nltk==3.8.1
pillow==10.2.0
streamlit-option-menu==0.3.12
tokenizers==0.15.2
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tqdm==4.66.2
transformers==4.38.2